@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*, body
{
    border: none;
    font-family: "Jersey 10", sans-serif;
    font-size: large;
    color: lime;
    background-color: black;
}

img
{
    border-radius: 15px;
}

p
{
    color: lime;
}